@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 60vh;
    align-items: center;
    font-size: 3vw;
    justify-content: center;

}